/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading */
#heading {
    text-align: left;
}

/* Game area */
#game-area {
    border: solid black 2px;
    box-sizing: border-box;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
}

/* Buttons area */
#buttons {
    border: solid black 2px;
}