/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #333C7B;
    text-align: center;
}

/* Heading */
#heading {
    text-align: left;
}

/* Game area */
#game-area {
    border: solid black 2px;
    box-sizing: border-box;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
}

/* Buttons area */
#buttons-area {
    border: solid black 2px;
    height: 20VH;
}

.buttons {
    background-color: #333C7B;
    color: whitesmoke;
    border: none;

    border-radius: 30px;
    padding: 20px;
    margin: 50px;
}