/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #333C7B;
    text-align: center;
}

/* Heading */
#heading {
    text-align: left;
}

/* Game area */
#game-area {
    background-color: #333C7B;
    color: whitesmoke;

    border-radius: 10px;
    box-sizing: border-box;
    width: 85%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 40vh;

}

#player {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

#player > i {
    font-size: 500%;
}

#computer {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

#computer > i {
    font-size: 500%;
}

i {
    color: whitesmoke;
}

#winner-display {
    padding-top: 1px;
}

/* Buttons area */

.buttons {
    background-color: #333C7B;
    color: whitesmoke;
    border: none;

    border-radius: 50%;
    padding: 20px;
    margin: 50px;

    font-size: 200%;
}

#reset-button {
    background-color: #333C7B;
    color: whitesmoke;

    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;

    font-size: medium;

}

#reset-button:hover {
    background-color: red;
}

.buttons:hover {
    background-color: green;
}

/* Footer */
footer {
    background-color: #393A3E;
    color: whitesmoke;

    padding: 20px;

    border-radius: 10px;

}

@media  screen and (max-width: 550px) {

    #game-area {
        display: inline-grid;
        height: 100%;
    }

    #player {
        text-align: center;
        margin: 2px;
    }

    #player > i {
        font-size: 200%;
    }

    #computer {
        text-align: center;
        margin: 2px;
    }

    #computer > i {
        font-size: 200%;
    }

    .buttons {
        font-size: 150%;
        margin: 10px;
    }

}